.App {
  text-align: center;
}
.container {
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-container {
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#pizza-img {
  width: 300px;
  height: 200px;
}
#pizza-form button {
  margin-left: 20px;
}
input,
label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
